@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Chakra Petch", sans-serif;
  background-color: #0092ca;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fagenciabrasil.ebc.com.br%2Feducacao%2Fnoticia%2F2024-04%2Flei-cria-sistema-nacional-de-bibliotecas-escolares&psig=AOvVaw2l35imO2dr2n_Qu_SsVCJN&ust=1726582547876000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCIiErK3Tx4gDFQAAAAAdAAAAABAF);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  color: #081f37;
  text-align: center;
  letter-spacing: 0.4rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

section input {
  width: 30rem;
  border: none;
  padding: 1rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  color: #45474b;
  font-size: 1rem;
  box-sizing: border-box;
}

section button {
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #30475e;
  color: #f5f7f8;
  font-size: 1rem;
  cursor: pointer;
}

.resultados-pesquisa {
  width: 60rem;
  height: 46vh;
  overflow-y: auto;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
}

.item-resultado {
  background: #ffffff;
  border-radius: 0.6rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-resultado h2 {
  font-size: 1.5rem;
  color: #222831;
}

.item-resultado a {
  text-decoration: none;
  color: #30475e;
}

.item-resultado a:hover {
  text-decoration: underline;
}

.descricao-meta {
  color: #45474b;
  margin: 0.5rem 0;
}

footer {
  background-color: #f5f7f8;
  color: #45474b;
  text-align: center;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
}
